div.content {
    position: absolute;
    max-width: 180px;
    max-height: 84px;
    left: 80px;
    top: 20px;

    font-family: 'Roboto', sans-serif;
    font-weight: bold;

    text-align: right;
    letter-spacing: -0.015em;
    text-transform: uppercase;
}

.header {
    font-size: 2em !important;
    color: #EB7D18 !important;
}

.app-header {
    font-size: 1.25em !important;
    color: #000000;
}