div.ui.grid div.content-header.content.sixteen.wide.column {
    position: absolute;
    max-width: 110px;
    max-height: 84px;
    padding: 20px 0;
    top: 20px;

    font-family: 'Roboto', sans-serif;
    font-weight: bold;

    text-align: right;
    letter-spacing: -0.015em;
    text-transform: uppercase;
}

div.content-header div.cinema-header.ui.sub.header {
    font-size: 2em;
    color: #EB7D18;
}

div.content-header  div.app-header {
    font-size: 1.25em;
    color: #000000;
}