.wrapper {
    border: 2px solid orange;
    margin-top: 20px;
    padding: 10px;
}

.container {
    width: 100%;
    margin: auto;
}

.grid td {
    width: 10%;
    height: auto;
    text-align: center;
    float: left;
}

table {
    margin-top: 40px;
}